/* GENERALE | 1440 X 1074 - 50%*/

.m {
    width: 40%;
}

header, section {
    font-family: 'Spectral', serif;
}


/*HEADER*/

header {
    position: sticky;
    top: 0;
    height: 30px;
    background-color: #ffc017;
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 7rem;
    border-bottom: 1px solid black;
    z-index: 1;
    transition: background-color 500ms ease-in-out;
}

header.scrolled {
    background-color: white;
}

header img {
    width: 13%;
}

nav a {
    text-decoration: none;
    margin: 0.5rem;
    font-size: 0.8rem;
    color: black;
}

nav a:last-child {
    color: rgba(255, 255, 255, 0.863);
}

nav button {
    background-color: black;
    border-radius: 20px;
    border: none;
    padding: 0.5rem;
    transition: background-color 500 ease-in-out;
}

nav button.scrolled {
    background-color: #1a8917;
}

/*SECTION - intro pagina*/

.introPage {
    display: flex;
    justify-content: space-between;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

.intro {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    width: 45%;
    margin: auto;
}

h1 {
    font-size: 6rem;
    font-weight: 550;
}

section p {
    font-size: 1.5rem;
    font-weight: 500;
}

h1, .intro p, .intro button{
    margin: 0.7rem;
}

.intro button {
    background-color: black;
    border-radius: 20px;
    margin: 0.5rem;
    height: 2.5rem;
    border: none;
}

.intro a {
    color: rgba(255, 255, 255, 0.884);
    padding: 1.7rem;
    font-size: 1.3rem;
    text-decoration: none;
}

/* TRENDING */

/* section {
    border-bottom: 1px solid black;
} */


.titleTrending {
    display: flex;
   align-items: center;
   width: 18%;
   justify-content: space-around;
}

h2 {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 800;
}

.trendSection {
    margin: 3rem 5rem;
}

.trendingBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.trend {
    margin: 0.5rem;
}

.numeroTrend {
    font-size: 2rem;
    margin-right: 1rem;
    color: rgb(228, 228, 228);
}

.imgProfile {
    border-radius: 50px;
    width: 10%;
}

.dataDurata {
    font-size: 0.7rem;
    margin-top: 0.5rem; 
    color: rgb(199, 199, 199);
}

.dataStella {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.stella {
    width: 7%;
}


/* TREND 1 */
.trend1 {
    width: 30%;
    margin: 0.5rem 1rem 3rem 0;
    /* margin-top: none; */
    display: flex;
    justify-content: flex-start;
}

.newTrend1{
    display: flex;
    flex-direction: column;
}

.infoProfilo1 {
    width: 65%;
    display: flex;
    align-items: center;
}

.titoloTrend {
    font-size: 0.8rem;
    font-weight: 900;
    margin-top: 0.5rem;
}

.nomeProfilo1 {
    font-size: 0.7rem;
    font-weight: bold;
}

/* TREND 2 */
.trend2 {
    width: 30%; 
    margin: 0.5rem 1rem 3rem 0;
    display: flex;
    justify-content: flex-start;
}

.newTrend2{
    display: flex;
    flex-direction: column;
}

.infoProfilo2 {
    width: 65%;
    display: flex;
    align-items: center;
}

.nomeProfilo2 {
    font-size: 0.7rem;
    font-weight: bold;
}


/* TREND 3 */

.trend3 {
    width: 30%; 
    margin: 0.5rem 1rem 3rem 0;
    display: flex;
    justify-content: flex-start;
}

.newTrend3{
    display: flex;
    flex-direction: column;
}

.infoProfilo3 {
    width: 65%;
    display: flex;
    align-items: center;
}

.nomeProfilo3 {
    font-size: 0.7rem;
    font-weight: bold;
}


/* TREND 4 */

.trend4 {
    width: 30%; 
    margin: 0.5rem 1rem 0 0;
    display: flex;
    justify-content: flex-start;
}

.newTrend4{
    display: flex;
    flex-direction: column;
}

.infoProfilo4 {
    width: 65%;
    display: flex;
    align-items: center;
}

.nomeProfilo4 {
    font-size: 0.7rem;
    font-weight: bold;
}


/* TREND 5 */

.trend5 {
    width: 30%; 
    margin: 0.5rem 1rem 0 0;
    display: flex;
    justify-content: flex-start;
}

.newTrend5{
    display: flex;
    flex-direction: column;
}

.infoProfilo5 {
    width: 65%;
    display: flex;
    align-items: center;
}

.nomeProfilo5 {
    font-size: 0.7rem;
    font-weight: bold;
}

/* TREND 6 */

.trend6 {
    width: 30%; 
    margin: 0.5rem 1rem 0 0;
    display: flex;
    justify-content: flex-start;
}

.newTrend6{
    display: flex;
    flex-direction: column;
}

.infoProfilo6 {
    width: 65%;
    display: flex;
    align-items: center;
}

.nomeProfilo6 {
    font-size: 0.7rem;
    font-weight: bold;
}

/*SECONDA PARTE DEL DOC*/

.secondaParte {
    display: flex;
    border-top: 1px solid rgb(209, 209, 209);
    padding-top: 3rem;
}


/*  ARTICLE  */

.imgProfileArticle {
    border-radius: 50%;
    width: 10%;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.profilo {
    font-size: 0.7rem;
    font-weight: bold;
}

.titoloArticle {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.descrizione {
    font-size: 0.8rem;
    color:  rgba(92, 92, 92, 0.884);
}

.imgArticle {
    width: 30%;
}

.dataDurata {
    margin-top: 0.7rem;
    color: grey;
}

.dataArticle {
    width: 100%;
    display: flex;
    align-items: center;
}

.bookmark {
    display: flex;
    align-self: flex-end;
}

.star {
    width: 5%;
}

/* ARTICLE 1*/

.infoProfiloArticle1 {
    width: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.bookmark{
    margin-right: 1rem;
}

.categoria {
    background-color: rgb(240, 240, 240);
    border-radius: 20px;
    padding: 0.1rem 0.3rem;
}




/* ARTICLE 2 */
.infoProfiloArticle2 {
    width: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}



/* ARTICLE 3 */
.infoProfiloArticle3 {
    width: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

/* ARTICLE 4 */
.infoProfiloArticle4 {
    width: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}


/* ARTICLE 5 */
.infoProfiloArticle5 {
    width: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}


/* ARTICLE 6 */
.infoProfiloArticle6 {
    width: 65%;
    display: flex;
    align-items: center;
}


/* ARTICLE 7 */
.infoProfiloArticle7 {
    width: 65%;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}


/* ASIDE */

/*prima lista*/

aside {
    width: 50%;
}

.discover {
    margin-top: 1rem;
}

.discover a {
    text-decoration: none;
    color: rgb(95, 95, 95);
    border: 1px solid rgb(212, 212, 212);
    text-decoration: none;
    padding: 0.2rem;
    margin-right: 1rem;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

.discoverList {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

/*seconda lista*/

.info {
    margin-top: 1rem;
    border-top: 1px solid rgb(190, 190, 190);
    width: 80%;
}

.info a {
    text-decoration: none;
    color: rgb(95, 95, 95);
}

.infoList {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 1rem;
}

.infoList a {
    margin: 0.5rem;
}


/* MEDIA QUERIES - TABLET */
/*ho fatto solo una piccola parte :,) */

@media screen and (max-width: 820px){
    header {
        padding: 1.2rem;
    } 

    .intro {
        width: 50%;
        margin: 3rem;
    }

    .intro h1 {
        font-size: 4rem;
    }
    
    .intro p {
        font-size: 1.3rem;
        width: 100%;
    }
    
    .intro button a {
        font-size: 1rem;
    }

    /*TREND*/

    .titleTrending {
        width: 30%;
    }

    .titleTrending h2 {
        font-size: 0.7rem;
    }

    .trendingBox {
        display: flex;
        flex-wrap: wrap;
    }
    .trend1, .trend2, .trend3, .trend4, .trend5, .trend6 {
        width: 40%;
        margin-bottom: 1rem;
    }

    .titoloTrend {
        font-size: 0.9rem;
        width: 100%;
        font-weight: bolder;
    }

    .nomeProfilo1, .nomeProfilo2, .nomeProfilo3, .nomeProfilo4, .nomeProfilo5, .nomeProfilo6 {
        font-size: 0.8rem;
        font-size: 200;
    }


}